body {
    width: 100%;
    margin: auto;
    padding: auto;  
    font-family: 5px;
}

#header {
    width: auto;
    height: 40px;
    background: #FF66CC;
    display: flex;
}

#header .img-1 {
    width: 100%;
    height: 40px;
    margin: 0px;
    display: flex;
    color: white;

}

#header .input>.find {
    background-image: url(images/find.png);
    background-position: right;
    padding-left: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;

}

#header .img-1 .image {
    display: block;
    line-height: 35px;
    padding: 0 15px;


}

.image a {
    text-decoration: none;
    color: white;
}

.image a:hover {
    color: black;
    cursor: grab;
}

#header .img-1 .khoang_trang {
    padding: 5px;
}

#header .img-1 .image img {

    height: 20px;
}

.img-1 .left {
    display: flex;

}

.img-1 .left .left_1 {
    padding: 7px 30px;
    height: 40px;
    border-right: 1px solid white;
    display: block;
}

.find {
    margin: 5px;
    color: red;
    width: 350px;
    height: 30px;
    border-radius: 10px;
}

.img-1 .find_1 {
    height: 15px;
    margin: 13px;

}

.img-1 .left_1:hover {
    color: black;
    cursor: grab;
}

#container {
    width: 100%;
    height: auto;
}

#container .list-menu {
    padding: 1px;
    height: 80px;
    background: white;
    list-style: none;
}

#container ul li {

    list-style: none;
    float: left;

}

.icon .logo {
    margin: 0 70px;
}

.icon {
    background: white;
}

.icon .icon_1 {
    height: 30px;
}

.icon .name {
    height: 30px;
    padding: 0px 10px;
    margin: 10px;

}

.icon li {
    position: relative;
    margin-right: 15px;

}

.icon li a {
    padding: 10px;
    line-height: 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}



.icon li:hover>.sub-menu {
    display: block;
    padding: 5px;
    color: blueviolet;
}

.icon .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;

}


.icon>li>.sub-menu {
    top: 50px;
    left: 0px;
}

#information{
    height: 120px;
    width: 100%;
    background:white;
    display: flex;
   
   
}
.information-all{
    display: flex;
    margin: 10px;
    
}
.information-icon:hover{
    cursor: context-menu;
}
.information-name a{
    
    text-decoration: none;
    color:palevioletred;
}
.information-name a:hover{
    cursor: pointer;
    color: #111111;
}

.colections-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}
.banner-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}
.banner-container>img{
    display: block;
    width: 100%;
    height: 100%;
}
.banner-overlay{
    opacity: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0,0,0, 0.3 );
    transition: opacity 0.6s;
}
.banner-overlay:hover{
    opacity: 1;
}

.banner-overlay::before{
    content: '';
    display: block;
    position: absolute;
    height: 60%;
    width: 50%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: width 0.6s;
}
.banner-overlay:hover::before{
    width: 80%;
}
.banner-overlay::after{
    content: '';
    display: block;
    position: absolute;
    height: 50%;
    width: 60%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: height 0.6s;
}
.banner-overlay:hover::after{
    height: 80%;
}
#sneaker .sneaker-img{
    margin:0 20px;
}

#footer {
    background: black;
    height: 350px;
    color: white;
    line-height: 30px;

}
#footer .footer-up{
    height: 280px;
    background: #111111;
    width: auto;
}
#footer .footer-down{
    height: 70px;
    width: auto;
}
#footer .footer-left {
    float: left;

}

#footer a {
    text-decoration: none;
    clear: left;
    color: white;
    margin: 65px;
    
}

