body {
    width: 100%;
    margin: auto;
    padding: auto;
    background: salmon;
    font-family: 5px;
}

#header {
    width: auto;
    height: 40px;
    background: #FF66CC;
    display: flex;
}

#header .img-1 {
    width: 100%;
    height: 40px;
    margin: 0px;
    display: flex;
    color: white;

}

#header .input>.find {
    background-image: url(images/find.png);
    background-position: right;
    padding-left: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;

}

#header .img-1 .image {
    display: block;
    line-height: 35px;
    padding: 0 15px;


}

.image a {
    text-decoration: none;
    color: white;
}

.image a:hover {
    color: black;
    cursor: grab;
}

#header .img-1 .khoang_trang {
    padding: 5px;
}

#header .img-1 .image img {

    height: 20px;
}

.img-1 .left {
    display: flex;

}

.img-1 .left .left_1 {
    padding: 7px 30px;
    height: 40px;
    border-right: 1px solid white;
    display: block;
}

.find {
    margin: 5px;
    color: red;
    width: 350px;
    height: 30px;
    border-radius: 10px;
}

.img-1 .find_1 {
    height: 15px;
    margin: 13px;

}

.img-1 .left_1:hover {
    color: black;
    cursor: grab;
}

#container {
    width: 100%;
    height: 2000px;
    background: blue;


}

#container .nav_menu {
    padding: 1px;
    height: 80px;
    background: white;
    list-style: none;
}

#container ul li {

    list-style: none;
    float: left;

}


.icon{
    background: white;
}

.icon .icon_1 {
    height: 30px;
}

.icon .name {
    height: 30px;
    padding: 0px 10px;
    margin: 10px;

}

.icon li {
    position: relative;
    margin-right: 15px;
    
}

.icon li a {
    padding: 10px;
    line-height: 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}



.icon li:hover>.sub-menu{
    display: block;
    padding: 5px;
    color: blueviolet;
}

.icon .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color:white;
font-family: 'Courier New', Courier, monospace;  
    
}

/* .icon li:hover>.sub-menu {
    color: red;
    cursor: pointer;
    display: block;
} */

.icon>li>.sub-menu{
    top:50px;
    left: 0px;
}


/* .sub-menu>li>a:hover{
    cursor: pointer;
    color: rebeccapurple;
} */
#footer {
    background: black;
    text-align: center;

    height: 30px;
    color: white;
    clear: left;
    line-height: 30px;
}